@charset "uft-8";
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {margin: 0; padding:0;font-size: inherit;font-weight: inherit;box-sizing:border-box;
    font-family: 'Noto Sans KR', sans-serif;font-style: normal;}
ul, ol {list-style: none;}
a {text-decoration: none;color: inherit;}
body {line-height: 1;}
img {vertical-align: middle;}
